/* global styles */
body {
  background-color: #333;
  color: white;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
}
h1 {
  color: #Ff1d22;/* torch red */
}
h2 {
  color: #4db341; /* apple green */
}
button {
  padding: 10px;
  background-color: aquamarine;
  border: none;
  border-radius: 5px;
}
